---
import Layout from "../layouts/Layout.astro";
import Carousel from "../components/Carousel.astro";
import ProfesionalFeed from "../components/ProfesionalFeed.astro";
import Latest from "../components/Latest.astro";
import Calendar from "../components/Calendar.astro";
import Results from "../components/Results.astro";
---

<Layout title="Ovrtake - MotoGP News">
  <div class="flex">
    <Carousel />
    <ProfesionalFeed />
  </div>
  <Latest />
  <Calendar />
  <Results />
</Layout>
